*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html { scroll-behavior: smooth; }
body { font-family: 'Barlow', sans-serif; background: #fff; color: #1A1E26; overflow-x: hidden; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0D2A3F; }
::-webkit-scrollbar-thumb { background: #27516A; border-radius: 3px; }
